body{
    background: #f5f5f5;
}
/* header CSS */
header{
    /* border: 2px solid blueviolet; */
    height: 60px;
    width: 100%;
    background-color: #000000c4;
    
}
#navbtn>a>img{
    height: 20px;
    width: 2%;
    margin-left: 1%;
    margin-top: 20px;
    float: left;
}
#navbtn>a>img:hover{
    transform: scale(0.9);
}
#navbtn>img{
    height: 160px;
    width: 12%;
    float: left;
    margin-left: 17px;
    margin-top: -49px;

}
#yourloc{
    border: 1px solid white;
    height: 30px;
    width: 8% ;
    float: right;
    margin-right: 3%;
    margin-top: 15px;
    cursor: pointer;
}
#yourloc>span{
    color: white;
    margin-left: 1px;
    margin-top: 5px;
    position: absolute;

}
#yourloc>img{
    height: 21px;
    width: 17%;
    margin-top: 5px;
    margin-left: 76px;
}
#yourloc>img:hover{
    transform: scale(0.9);
}
#login{
    /* border: 1px solid white; */
    height: 30px;
    width: 8% ;
    float: right;
    margin-right: 2%;
    margin-top: 15px;
    color: white;
}
#login>span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 10px;
    margin-top: 6px;
    position: absolute;
    cursor: pointer;
}
#login>span:hover{
    transform: scale(1.1);

}


/* Search bar CSS */

#searchbar{
    /* border: 2px solid rgb(32, 42, 114); */
    height: 400px;
    width: 100%;
    background-image: url(img/home-top-banner-2.jpg);
    background-size: 100% 400px ;
    background-repeat: no-repeat;
}
#searchbar>h1{
    color: white;
    font-size: 34px;
    margin-left: 35%;
    font-weight: 400;
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#searchbar>p{
    font-size: 20px;
    color: white;
    margin-left: 25%;
    margin-top: 80px;
    position: absolute;
}

#searchhere{
    /* border: 2px white double; */
    height: 45px;
    width: 39%;
    margin-left: 365px;
    margin-top: 180px;
    position: absolute;
}
#searchbox{
    height: 40px;
    width: 80%; 
    position: absolute;
    float: left;
}
#btn1{
    height: 45px;
    width: 18%;
    float: left;
    position: absolute;
    margin-left: 402px;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-size: 15px;
    background-color: #f85649;
    color: white;
    border: none;
    cursor: pointer;
}


/* Browse CSS */

#browseby{
    /* border: 2px solid rgb(116, 90, 141); */
    height: 500px;
    width: 100%;
    
}
#heading{
    color: #000000;
    font-size: 22px;
    margin-left: 43%;
    position: absolute;
    font-family: 'Open Sans',sans-serif,Arial;
    font-weight: 700;
    margin-top: 33px;
}
#selectbox{
    /* border: #000000 solid 1px; */
    height: 400px;
    width: 80%;
    margin-left: 10%;
    margin-top: 100px;
    position: absolute;
    background-color: white;
}
#selectnow{
    /* border: #000000 solid 1px; */
    height: 40px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #ccc;
    
}
#discoverby{
    list-style: none;     
    cursor: pointer;
}

.ul1{
    margin-top: -19px;
    float: left;
    margin-left: 141px;
    font-family: sans-serif;
    color: #0000009c;
    font-stretch: extra-condensed;
    
    
}
.ul1:hover{
    transform: scale(0.9);
}
#bydemand{
    list-style: none;
    position: absolute;
    
}
.selectbrand{
    float: left;
    margin-left: 66px;
    padding-block: 21px;
}
.brandlogo{
    display: block;
}
.brandlogotitle{
    display: block;
    margin-left: 34px;
    margin-top: 17px;
    font-family: sans-serif;
    font-style: normal;
    color: gray;
    font-size: 17px;
}
.selectbrand>a{
    text-decoration: none;
}
#brandlogotitleRE{
    display: block;
    margin-left: 4px;
    margin-top: 17px;
    font-family: sans-serif;
    font-style: normal;
    color: gray;
    font-size: 17px;
}
.brandlogo:hover{
    transform: scale(1.1);
}
.viewbrandbtn{
    position: absolute;
    margin-top: 300px;
    margin-left: 438px;
    height: 30px;
    width: 15%;
    background-color: white;
    color: #3799a7;
    border: 1px solid #3799a7;
    cursor: pointer;
}
.viewbrandbtn:hover{
    transform: scale(0.9);

}


/* Featured CSS */
#featured{
    /* border: 2px coral solid; */
    height: 620px;
    width: 100%;

}
#heading2{
    color: #000000;
    font-size: 22px;
    margin-left: 45%;
    position: absolute;
    font-family: 'Open Sans',sans-serif,Arial;
    font-weight: 700;
    margin-top: 33px;
}
#featuredbox{
    height: 510px;
    width: 80%;
    margin-left: 10%;
    margin-top: 100px;
    position: absolute;
    background-color: white;
    /* border: #000000 1px solid; */
}
#featureby{
    height: 40px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #ccc; 
    cursor: pointer;
}
#bestfeatured>li{ 
    list-style: none;
    padding-left: 20px;
    
}
#tile1{
    position: absolute;
    list-style: none;
    margin-top: 25px;
}
.bikedit{
    /* border: 1px solid gray; */
    border: 2px solid #f6f6f6;
    height: 360px;
    width: 242px; 
    float: left;
    margin-left: 50px;

}
.bikeimg{
    height: 163px;
    width: 98%;
    margin-top: 2%;
    margin-left: 1%;
    
}
.ditsection{
    margin-left: 4%;
    margin-top: 4%;
}
.bikename{
    text-decoration: none;
    color: #2a2a2a;
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 10px;
    font-family: 'Open Sans',sans-serif,Arial;
}
.shortspecification{
    text-decoration: none;
    font-size: 14px;
    color: #a8afb3;
    font-family: 'Open Sans',sans-serif,Arial;
}
.pricetitle{
    display: block;
    font-size: 14px;
    color: #82888b;
    font-family: 'Open Sans',sans-serif,Arial;


}
.onlineprice{
    display: block;
    margin-top: 5px;
    font-size: 18px;
    color: #4d5057;
    font-weight: 700;
    font-family: 'Open Sans',sans-serif,Arial;
    float: left;
}
.font14{
    float: left;
    margin-top: 7px;
    margin-left: 2%;
    font-size: 14px;
    color: #4d5057;
    font-weight: 700;
    font-family: 'Open Sans',sans-serif,Arial;
    
}
.btnforprice{
    display: block;
}
.pricebtn{
    background: #f04031;
    color: #fff;
    margin-left: 2px;
    margin-top: 17%;
    font-family: 'Open Sans',sans-serif,Arial;
    font-size: 16px;
    border: none;
    height: 35px;
    display: block;
    cursor: pointer;
    
}
.pricebtn:hover{
    transform: scale(1.1);
}
.viewmorebtn{
    position: absolute;
    margin-top: 400px;
    margin-left: 435px;
    height: 30px;
    width: 15%;
    background-color: white;
    color: #3799a7;
    border: 1px solid #3799a7;
    cursor: pointer;

}
.viewmorebtn:hover{
    transform: scale(0.9);

}

#chackprice-banner{
    /* border: 1px solid rebeccapurple; */
    height: 400px;
    width: 100%;
    background-image: url(img/back\ ground\ baner.jpg);
    background-repeat: no-repeat;
    background-size: 100% 400px;

    
}
#borderonbanner{
    /* border: 1px black solid; */
    height: 250px;
    width: 33%;
    margin-top: 70px;
    float: left;
    margin-left: 10%;
    position: absolute;
    background: #fff;
}
#heading3{
    font-size: 22px;
    font-weight: 700;
    color: #2a2a2a;
    font-family: 'Open Sans',sans-serif,Arial;
    display: block;
    margin-left: 4%;
}
#makemodelfinalprice{
    width: 91%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 13px;
    display: block;
    height: 41px;
    margin-left: 4%;

}
#loc-2{
    display: block;
    
}
#selectloc-2{
    width: 92%;
    background-color: #fff;
    border-radius: 2px;
    font-size: 13px;
    height: 45px;
    margin-left: 4%;
    margin-top: 22px;
    border: none;
    border: 1px solid #ccc;
    color: #7c8183;
}
#finalpricebtn{
    height: 45px;
    width: 48%;
    background-color: #e34c42;
    color: white;
    border: none;
    margin-left: 4%;
    margin-top: 15px;
    font-size: 16px;
    cursor: pointer;
}

/* Best bikes of month CSS */

#bestofmonth{
    /* border: 2px rgb(37, 31, 29) solid; */
    height: 620px;
    width: 100%; 
}
#heading4{
        color: #000000;
        font-size: 22px;
        margin-left: 40%;
        position: absolute;
        font-family: 'Open Sans',sans-serif,Arial;
        font-weight: 700;
        margin-top: 33px;
}
#bestbikebox{
    height: 510px;
    width: 80%;
    margin-left: 10%;
    margin-top: 100px;
    position: absolute;
    background-color: white;
    /* border: #000000 1px solid; */
}
#bestby{
    height: 40px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #ccc; 
    cursor: pointer;
}
#selectbybest{
    list-style: none;
    padding-left: 20px;
}
.ul2{
    margin-top: -19px;
    float: left;
    margin-left: 100px;
    font-family: sans-serif;
    color: #0000009c;
    font-stretch: extra-condensed;
}

/* CSS for Compare section */
#comparebike{
    /* border: 2px rgb(37, 31, 29) solid; */
    height: 450px;
    width: 100%;
}
#heading5{
    color: #000000;
    font-size: 22px;
    margin-left: 44%;
    position: absolute;
    font-family: 'Open Sans',sans-serif,Arial;
    font-weight: 700;
    margin-top: 33px;
}
#maincomparebox{
    height: 350px;
    width: 80%;
    margin-left: 10%;
    margin-top: 100px;
    position: absolute;
    background-color: white;
    /* border: #000000 1px solid; */
}
#sections{
    list-style: none;
    position: absolute;
    width: 100%;
    float: left;
}
#comparebox1{
    height: 250px;
    width: 44%;
    margin-top: 10px;
    position: absolute;
    border: 2px solid #f6f6f6;
    float: left; 
    margin-left: -10px;
    
}
#comparebox2{
    height: 250px;
    width: 44%;
    margin-left: 45%;
    margin-top: 10px;
    position: absolute;
    border: 2px solid #f6f6f6;
}
.compbikeimg1{
    height: 100px;
    width: 43%;
    display:block;
    margin-top: 2%;
    margin-left: 12px;
    float: left;
}
#vs{
    height: 20px;
    width: 4%;
    margin-top: 52px;
    float: left;
    margin-left: 11px;
}
.compbikeimg2{
    height: 100px;
    width: 43%;
    display:block;
    margin-top: 2%;
    margin-left: 11px;
    float: left;
}
#apachebikedit{
    /* border: 1px solid #171313; */
    height: 73px;
    width: 43%;
    margin-top: 10px;
    margin-left: 11px;
    float: left;
}
.bikename-1{
    text-decoration: none;
    color: #2a2a2a;
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 10px;
    font-family: 'Open Sans',sans-serif,Arial;
    display: block;
}
.pricetitle-1{
    display: block;
    font-size: 12px;
    color: #82888b;
    font-family: 'Open Sans',sans-serif,Arial;
    margin-top: 10px;
    font-weight: 200;
}
.onlineprice-1{
    display: block;
    margin-top: 5px;
    font-size: 18px;
    color: #4d5057;
    font-weight: 600;
    font-family: 'Open Sans',sans-serif,Arial;
    float: left;
}
#bmwbikedit{
    /* border: 1px solid #171313; */
    height: 73px;
    width: 43%;
    margin-top: 10px;
    margin-left: 39px;
    float: left;
}
.pricebtn-comp{
    background: #f04031;
    color: #fff;
    margin-left: 45px;
    margin-top: 43%;
    font-family: 'Open Sans',sans-serif,Arial;
    font-size: 16px;
    border: none;
    height: 35px;
    width: 80%;
    display: block;
    cursor: pointer;
    
}
.pricebtn-comp:hover{
    transform: scale(1.1);
}
#viewmorebtn-comp{
    position: absolute;
    margin-top: 300px;
    margin-left: 425px;
    height: 30px;
    width: 15%;
    background-color: white;
    color: #3799a7;
    border: 1px solid #3799a7;
}
#viewmorebtn-comp:hover{
    transform: scale(0.9);
}

/* CSS for User reviews */
#reviews{
    /* border: 1px solid #3799a7; */
    height: 450px;
    width: 100%;
}
#heading6{
    color: #000000;
    font-size: 22px;
    margin-left: 44%;
    position: absolute;
    font-family: 'Open Sans',sans-serif,Arial;
    font-weight: 700;
    margin-top: 33px; 
}
#reviewsection{
    height: 350px;
    width: 80%;
    margin-left: 10%;
    margin-top: 100px;
    position: absolute;
    background-color: white;
    /* border: #000000 1px solid; */
}
#intro-title{
    font-size: 14px;
    color: #787878;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Open Sans',sans-serif,Arial;
    margin-top: 10px;
    
}
#searchbox-1{
    height: 39px;
    width: 42%; 
    position: absolute;
    float: left;
    margin-left: 22%;
}
#btn-reviews{
    height: 45px;
    width: 15%;
    float: left;
    position: absolute;
    margin-left: 634px;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-size: 15px;
    background-color: #f85649;
    color: white;
    border: none;
    border-bottom: #7c8183 1px solid;
    border-bottom: #7c8183 1px solid;
    cursor: pointer;
}

.card{
    border: 2px solid #f6f6f6;
    float: left;
    height: 180px;
    width: 25%;
    margin-left: 45px;
    margin-top: 80px;
    padding: 10px;
}
.card-title{
    margin-top: 10px;
    text-decoration: none;
    color: #2a2a2a;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 10px;
    font-family: 'Open Sans',sans-serif,Arial;
}
.card-text{
    color: #3d3737;
}
.text-Secondary{
    color: #4d5057;
    font-family: 'Open Sans',sans-serif,Arial;
}
.buttonre {
    background-color: white;
    color: black;
    background-color:  #212887;
    border: none;
    height: 30px;
    width: 60%;
  }
.buttonre>a{
    text-decoration: none;
    font-size: small;
    color: white;
}
.ul3{
    margin-top: -19px;
    float: left;
    margin-left: 160px;
    font-family: sans-serif;
    color: #0000009c;
    font-stretch: extra-condensed;
}
.card1{
    margin-left: 30px;
}
.card-body1{
    height: 200px;
    width: 94%;
    border: 2px solid #f6f6f6;
    margin-top: 10px;
    padding: 1%;
}
/* CSS For News */
#news{
    /* border: 1px solid #000000; */
    height: 890px;
    width: 100%;
}
#newssection{
    height: 780px;
    width: 80%;
    margin-left: 10%;
    margin-top: 100px;
    position: absolute;
    background-color: white;
    /* border: #000000 1px solid; */
}
#newscol{
    argin
}
.newsimg{
    border: 2px solid #f6f6f6;
    height: 175px;
    width: 30%;
    float: left;
    
}
.newsimg>img{
    height: 175px;
    width: 100%;
}
.newsdit{
    padding: 5px;
    margin-left: 10px;
    float: left;
    height: 175px;
    width: 65%;
}
footer{
    height: 350px;
    width: 100%;
    background-color: #333;
    
}
#footsec{
    /* border: #212887 2px solid; */
    height: 320px;
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    position: absolute;
    
}
#socialid{
    /* border: #3799a7 1px solid; */
    height: 100px;
    width: 30%;
    float: left;
}
#join1{
    /* border: #3799a7 1px solid; */
    height: 20px;
    width: 100%;
}
#join{
    font-family: 'Open Sans',sans-serif,Arial;
    color: #fff;
    font-size: 18px;
    min-width: 960px;
    position: absolute;
    margin-top: 5px;
    display: block;
    margin-left: 15px;
}
.socialimg{
    height: 40px;
    width: 40px;
    margin-top: 10px;
    border-radius: 7%;
    margin-left: 14px;
    
}
#socialapps{
    /* border: #3799a7 1px solid; */
    height: 100px;
    width: 30%;
    float: left;
    margin-left: 400px;
}
.socialimg1{
    height: 40px;
    width: 40%;
    padding: 14px;
    border-radius: 2rem 2rem 2rem 2rem;

}
.social>a{
    text-decoration: none;
}

#allsiteslogo{
    margin-top: 100px;
    border-bottom: 1px solid #e2e2e2; ;
   
}
#allsite{
    list-style: none;
    position: absolute;
    
}
.site1{
    display: block;
}
.site1>img{
    height: 80px;
    width: 100px;
    margin: 1px;
    
}
.site1>img:hover{
    transform: scale(1.2);
}
#copyr{
    border-top: 1px solid #e2e2e2; 
    position: absolute;
    /* border: 1px red solid; */
    height: 80px;
    width: 100%;
    margin-top: 150px;
}
#copyr>span{
    color: #ccc;
    margin-top: 30px;
    position: absolute;
}
#cop{
    margin-left: 91%;
}